{% extends "base/base.html" %}
{% block content %}
<div class="container mt-4 text-light">
    <h2 class="mb-4">Add New Post</h2>
    <form method="POST" class="bg-dark p-4 rounded border border-success">
        {% csrf_token %}

        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" placeholder="Post title" class="form-control bg-dark text-light border-success">
        </div>

    <!-- Hidden input for Trix -->
    <input id="id_content" type="hidden" name="content">
    <trix-editor input="id_content"></trix-editor>

        <div class="form-check mb-3">
            <input type="checkbox" name="published" class="form-check-input" id="publishCheck">
            <label class="form-check-label" for="publishCheck">Publish?</label>
        </div>

        <button type="submit" class="btn btn-success">Add Post</button>
    </form>
</div>
{% endblock %}
