{% extends "base/base.html" %}
{% block content %}
<div class="container mt-4 text-light">
    <h2 class="mb-4">fix your Post</h2>
    <form method="POST" class="bg-dark p-4 rounded border border-success">
        {% csrf_token %}

        <div class="mb-3">
            <label>Title</label>
            <input value="" type="text" name="title" placeholder="Post title" class="form-control bg-dark text-light border-success">
        </div>

        <div class="mb-3">
            <label>Author</label>
            <select name="auther" class="form-select bg-dark text-light border-success">
                <option value="">Select an author</option>
                {% for u in user %}
                    <option value="{{ u.username }}">{{ u.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Content</label>
            <input type="text" name="context" placeholder="Write your content" class="form-control bg-dark text-light border-success">
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" name="published" class="form-check-input" id="publishCheck">
            <label class="form-check-label" for="publishCheck">Publish?</label>
        </div>

        <button type="submit" class="btn btn-success">Add Post</button>
    </form>
</div>
{% endblock %}
