{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4 text-light">
    {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-warning">Logout</button>
        </form>
    {% else %}
        <h2 class="mb-4">Login</h2>
        <form action="{% url 'login' %}" method="POST" class="bg-dark p-4 rounded border border-success">
            {% csrf_token %}
            <div class="mb-3">
                <label>Email</label>
                {{ form.email|add_class:"form-control bg-dark text-light border-success" }}
            </div>
            <div class="mb-3">
                <label>Password</label>
                {{ form.password|add_class:"form-control bg-dark text-light border-success" }}
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    {% endif %}
</div>
{% endblock %}
